/*
 * Dit is de custom style sheet van jouw website
 *
 */
 @font-face {
     font-family: webFont;
     src: url(carbon.ttf);
 }
body {
margin: 0;
padding: 0;
padding-top: 280px;
background-color: #312222;
}

.pagination ul li a{
  text-decoration: none;
  list-style-type: none;
  color: black;
  display: block;
  padding: 10px;
  font-family: webFont;
  font-size: 20px;
}

.pagination ul li a:hover{
  color: green;
}
.pagination ul{

  overflow: hidden;
  color: #FFFFFF;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;

}

.pagination ul li{
  display: inline-block;
}
nav{

  box-shadow: 5px 5px 10px #171717;;
}
a{
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
nav ul li a{
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  display: block;
  padding: 20px;
  font-family: webFont;
  font-size: 24px;
}
nav ul{
  background-color: black;
  overflow: hidden;
  color: #FFFFFF;
  padding: 0;
  text-align: right;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;

}

nav ul li{
  display: inline-block;
}

nav ul li:hover{
  background-color: #171717;;
}
.handle{
  width: 100%;
  height: 55px;
  background: black;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: white;
  display: none;
  font-family: webFont;
}
#edxlogo{
  width: 30px;
}

#hamburgericon{
  width: 25px;
  float: right;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.bannerimg{
  height: 180px;
}
  .bannerimg img{
    height: 180px;
  }

  input[type=text] {
    padding: 12px 20px;
    width: 200px;
    box-sizing: border-box;
}


#edtourdates{
  width: 800px;
  margin: 0 auto;
}

#searchbanner{
  width: 800px;
  margin: 0 auto;
}

#tourdiv{
  width: 800px;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4E4545;
}
#searchdiv{
  width: 800px;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4E4545;
}
#searchdiv2{
  width: 200px;
  margin: 0 auto;
}
#newsdiv{
  width: 800px;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4E4545;
  font-family: webFont;
}

#newsdivje{
  width: 400px;
  margin: 0 auto;
}

#newstitle{
  font-size: 25px;
}

#ednews{
  width: 800px;
  margin: 0 auto;
}

#newsimg{
  width: 400px;
  margin: 0 auto;
}



audio
{
width: 100%;
}
#edtouraudio{
  width: 800px;
  margin: 0 auto;
}
#audiodiv{
  width: 800px;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4E4545;
}
#niks{
padding: 0;
margin: 0;
}


table {
    border-collapse: collapse;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: webFont;
}
th {
    background-color: #333;
    color: white;
}
#news{
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}

article{
  margin-left: auto;
  margin-right: auto;
}
th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: darkgrey}

.desc {
	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
	width: 200px;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  font-family: webFont;
  font-size: 15px;
  right: 0;
  bottom: 0;
  left: 0;

}

@media screen and (max-width: 800px){


  #edtourdates{
    width: 100%;
    margin: 0 auto;
  }

  #searchbanner{
    width: 100%;
    margin: 0 auto;
  }

  #tourdiv{
    width: 100%;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4E4545;
  }

  #searchdiv{
    width: 100%;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4E4545;
  }


  #ednews{
    width: 100%;
    margin: 0 auto;
  }

  #newsdiv{
    width: 100%;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4E4545;
  }



  #edtouraudio{
    width: 100%;
    margin: 0 auto;
  }
  #audiodiv{
    width: 100%;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4E4545;
  }

  table {
      border-collapse: collapse;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-family: webFont;
  }

}
@media screen and (max-width: 650px){
  body{
    padding-top: 90px;
  }
.pagination ul{
  padding-left: 23px;
  text-align: left;
}

.pagination ul li a{
  font-size: 17px;
}
  #newstitle{
    font-size: 18px;
  }
#newsimg{
  width: 80%;
  margin: 0 auto;
}
  #newsdivje{
    width: 90%;

    margin: 0 auto;
  }
  nav ul{
    max-height: 0;
  }
  .showing{
    max-height: 20em;
  }
  nav ul li{
    box-sizing: border-box;
    width: 100%;
    background-color: #171717;
  }
  nav ul li:hover{
    background-color: black;
  }
  nav ul li a{
    text-align: left;
    font-size: 15px;
  }
  .handle{
    display: block;
  }
  .bannerimg{
    display: none;
  }
    .bannerimg img{
      display: none;
    }
    #audiotable{
      width: 90%;
    }

    audio{
      width: 70%;
    }

}
